.bodyContainer{
    height: 100%;
}
h1{
    text-align: center;
}
.formClass{
    position: relative;
    display: block;
    text-align: center;
}
.formClass input{
    width: 40%;
}

#descID{
    width: 40%;
    height: 100px;
}

.scheduleDiv, .routeDiv{
    position: relative;
    background-color: white;
    /* min-height: 120px; */
    height: auto;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
}
.routeTitle{
    margin: 0;
}
.customBorder{
    background-color: black;
    width: 100%;
    height: 1px;
    margin: 0;
}
.weekDiv, .addressDiv{
    width: 99%;
    overflow: auto;
    display: grid;
    /* height: 0px;     */
}
.weekDiv{
    grid-template-columns: minmax(140px, auto) minmax(140px, auto) 
        minmax(140px, auto) minmax(140px, auto) minmax(140px, auto)
        minmax(140px, auto) minmax(140px, auto);
    grid-template-rows: 30px 30px;
}
.weekDiv input{
    width: 97%;
    border-width: 1px;
}

.addressDiv{
    grid-template-columns: auto auto auto;
    grid-template-rows: 30px;
}
.weekDiv p, .addressDiv p{
    margin: 0;
    margin-top: 5px;
}
.routeContent{
    height: 100px;
    background-color: rebeccapurple;
}
.addRouteBtn{
    position: absolute;
    height: 40px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.editBtn{
    margin-top: 2rem;
    width: 150px;
    height: 30px;
}
.backBtn, .delTruck{
    display: block;
    position: relative;
    width: 150px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
    margin: 10px 0;
}

