.bodyContainer{
    position: absolute;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    left:0;
    top:0;
    background: rgb(75, 75, 75);
    background-image: url("../assets/createAcntBG.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
    /* background: linear-gradient(0deg, rgba(19,120,154,1) 0%, rgba(4,173,208,1) 100%);  */
    font-family: 'Noto Sans Mono', monospace !important;
    font-size: 1.1em;
    color: white;
}
.innerContainer{
    position:relative;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(30%);

}
.header{
    margin-top: 2em;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}
.formClass{
}
.groupClass{
    position:relative;
    left: 50%;
    transform: translateX(-55%);
    width: 500px;
    margin-bottom: 20px;
}

.inputClass{
    width: 400px;
}
#username, #password, #name, #email{
    color: white;
    position: relative;
    display: inline-block;
    width: 50px;
}
#usernameInput, #passwordInput, #nameInput, #emailInput{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    height: 25px;
}

.addressClass{
    position: relative;
    left: 50%;
    transform: translateX(-45%);
    width: 800px;
}

#cityInput{
    width: 150px;
}
#stateInput{
    width: 100px;
}
#addressInput{
    width: 300px;
}
.ownerClass{
    margin-top: 2rem;
    text-align: center;
}
#createBtn{
    margin: 30px;
    margin-bottom: 15px;
    width: 120px;
    height: 35px;
    position: relative;
    left: 50%;
    border-color: white;
    background-color: white;
    border-style: solid;
    border-radius: .5em;
    transform: translateX(-50%);
    margin-left: 0;
    margin-right: 0;
    transition: .3s;
}
#createBtn:hover{
    opacity: 50%;
    border-top-width: .6em;
}
#backBtn{
    color: Black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 35px;
    text-decoration: none;
    border-style: solid;
    border-radius: .5em;
    border-color: white;
    background-color: white;
    transition: .3s;
}
#backBtn:hover{
    opacity: 50%;
    border-top-width: .6em;
}