.bodyContainer{
    height: 100%;
}
h1{
    text-align: center;
}
.formClass{
    position: relative;
    display: block;
    text-align: center;
}
.formClass input{
    width: 40%;
}
#descID{
    width: 40%;
    height: 100px;
}
.subscribedUsers, .routeDiv{
    position: relative;
    background-color: white;
    height: auto;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
}

.subTitle, .routeTitle{
    margin: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.userRow{
    background-color: rgb(241, 241, 241);
    color: rgb(18, 60, 105);
    margin: .2em 0 .2em 0;
}
.customBorder{
    background-color: black;
    width: 100%;
    height: 1px;
    margin: 0;
}
.addressDiv{
    width: 100%;
    overflow: auto;
    display: grid;
}

.addressDiv{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.addressDiv p{
    margin: 0;
    margin-top: 5px;
}
.subscribedUsers, .routeContent{
    min-height: 50px;
    height: auto;    
}
.addressDiv, .newRouteDiv{
    display: grid;
    grid-template-columns: minmax(140px, auto) minmax(140px, auto) minmax(140px, auto)  minmax(140px, auto) minmax(40px, 40px);
    grid-template-rows: 30px;
}

.newRouteDiv{
    margin-bottom: .5rem;
}
.newRouteDiv input{
    width: 98%;
}
.addRouteBtn{
    position: relative;
    height: 30px;
    width: 150px;
    bottom: 0;
    text-align: center;
}
.editBtn{
    margin-top: 2rem;
    width: 150px;
    height: 30px;
}
.backBtn, .delTruck{
    display: block;
    margin-top: 2px;
    position: relative;
    width: 150px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
}