@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');


/* body {
    margin: 0;
    min-height: 100vh;
} */


.loginBody{
    /*background: linear-gradient(180deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);*/
    background-color: rgb(0, 0, 0);
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Noto Sans Mono', monospace; */
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}

#ftfHeader{
    color: rgb(255, 90, 90);
    text-align: center;
    margin: 0;
    margin-bottom: .3em;
    font-size: 3em;
    font-family: 'Magra', sans-serif;
    text-decoration: underline;
    /* -webkit-text-stroke-color: rgba(255, 255, 255, 0.487);
    -webkit-text-stroke-width: 1px; */
}
.loginWrapper{
    text-align: center;
    font-weight: bolder;
    margin:auto;
    margin-top: 5em;
    margin-bottom: 1em;
    position: relative;
    height: 150px;
    width: 400px;

}
.usernameField, .passwordField{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display:grid;
    grid-template-columns: 20em;
}

#username, #password{
    border-radius: .5em;
    border-style: solid;
    height: 25px;
}
.passwordField{
    top: 55%;
}
#usernameLabel, #passwordLabel{
    background-color: rgb(169, 81, 81);
    width: 100px;
    height: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: .5em;
    border-color: white;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 7px;
    border-right-width: 7px;

}

.loginBtnClass{
    width: 150px;
    height: 30px;
    margin: 0 auto;
    text-align: center;

}
#loginBtnId{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    color: black;
    border-style: solid;
    border-radius: .55em;
    border-width: .3em;
    background-color: white;
    border-color: white;
    display: block;
    width: 130px;
    text-decoration: none;
    height: 25px;
    font-weight: bolder;

}
#loginBtnId:hover{
    opacity: 50%;
    border-top-width: .6em;

}
.footerClass{
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: small;
    color: rgb(204, 204, 204);
    background-color: rgba(0, 0, 0, 0.529);
}

#createAcntId{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    color: black;
    border-style: solid;
    border-radius: .55em;
    border-width: .3em;
    background-color: white;
    border-color: white;
    display: block;
    width: 150px;
    text-decoration: none;
    height: 25px;
    font-weight: bolder;

}
#createAcntId:hover{
    opacity: 50%;
    border-top-width: .6em;
}
#createAcntATagId{
    text-decoration: none;
}