@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

.loginBody{
    /*background: linear-gradient(180deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);*/
    background-color: rgb(0, 0, 0);
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Noto Sans Mono', monospace; */
    font-family: 'Magra', sans-serif;
    margin: 0;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
}

.ftfHeader{
    color: rgb(238, 226, 220);
    text-align: center;
    margin: 0;
    font-size: 3em;
    /* font-family: 'Magra', sans-serif; */
    font-family: inherit;
    /* text-decoration: underline; */
    letter-spacing: .2em;

    /* -webkit-text-stroke-color: rgba(255, 255, 255, 0.487);
    -webkit-text-stroke-width: 1px; */
}
input, button{
    font-family: inherit;

}
.ftfSubHeader{
    color:rgba(237, 199, 183, 0.89);
    text-align: center;
    margin: 0 auto .3em auto;
    font-style: italic;
    font-size: .9em;

}
.loginWrapper{
    text-align: center;
    font-weight: bolder;
    margin:auto;
    margin-top: 5em;
    margin-bottom: 1em;
    position: relative;
    height: 150px;
    width: 400px;
}

.usernameField, .passwordField{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display:grid;
    grid-template-columns: 20em;
}

.username, .password{
    border-radius: .5em;
    border-style: solid;
    height: 25px;
}
.passwordField{
    top: 55%;
}
.usernameLabel, .passwordLabel{
    background-color: rgb(237, 199, 183);
    width: 100%;
    height: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: .5em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.loginBtnClass{
    width: 150px;
    height: 30px;
    margin: 0 auto;
    text-align: center;

}
.loginBtnId{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    color: black;
    border-style: solid;
    border-radius: .55em;
    border-width: .3em;
    background-color: rgb(238, 226, 220);
    border-color: rgb(238, 226, 220);
    display: block;
    width: 150px;
    text-decoration: none;
    height: 25px;
    font-weight: bolder;

}
.loginBtnId:hover{
    opacity: 50%;
    border-top-width: .6em;

}
.footerClass{
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: small;
    color: rgb(204, 204, 204);
    background-color: rgba(0, 0, 0, 0.529);
}

.createAcntId{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    color: black;
    border-style: solid;
    border-radius: .55em;
    border-width: .3em;
    background-color: rgb(238, 226, 220);
    border-color: rgb(238, 226, 220);
    display: block;
    width: 150px;
    text-decoration: none;
    height: 25px;
    font-weight: bolder;
    margin: .5em 0 .9em 0;

}
.createAcntId:hover{
    opacity: 50%;
    border-top-width: .6em;
}
.createAcntATagId{
    text-decoration: none;
}

.enterAsGuestBtn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    color: black;
    border-style: solid;
    border-radius: .55em;
    border-width: .3em;
    background-color: rgb(238, 226, 220);
    border-color: rgb(238, 226, 220);
    display: block;
    width: 150px;
    text-decoration: none;
    height: 25px;
    font-weight: bolder;

}
.enterAsGuestBtn:hover{
    opacity: 50%;
    border-top-width: .6em;
}