.formContainer{
    display: block;
    position: relative;
    width: 700px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3em;
}
.userForm{
    display: grid;
    position: relative;
    grid-template-columns: 100px 500px;
}
.editSaveBtn{
    margin-top: 15px;
    display: block;
    position: relative;
    width: 100px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
}
.header, .preferencesHeader{
    display: block;
    position: relative;
    width: 500px;
    height: 50px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.backBtn, .cancelBtn{
    display: block;
    position: relative;
    width: 100px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
    margin: 10px 0;
}
