.container{

}
.formContainer{
    display: block;
    position: relative;
    width: 700px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3em;
}
.userForm{
    display: grid;
    position: relative;
    grid-template-columns: 100px 500px;
}
.editSaveBtn{
    margin-top: 15px;
    display: inline-block;
    position: relative;
    width: 100px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
    border-style: none;
    background-color: white;

}
.editSaveBtn:hover{
    opacity: 75%;
}
.header, .preferencesHeader{
    display: block;
    position: relative;
    width: 500px;
    height: 50px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    text-decoration: underline;
}
.prefFormClass{
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.innerFormClass{
    position: relative;
    display: block;
    width: 630px;
    height: 200px;
    display: grid;
    grid-template-columns: 170px 230px 230px;
    grid-template-rows: auto;
    left: 50%;
    transform: translate(-50%);

}

/* .distRangeClass, .foodTypeDiv{
    text-align: center;
} */
.formSaveBtn{
    display: block;
    position: relative;
    width: 150px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
    border-style: none;
    background-color: white;

}
.formSaveBtn:hover{
    opacity: 75%;
}
.foodTypeDiv select{
    display: block;
    position: relative;
    left: 40%;
    transform: translateX(-50%);
}

.backBtn, .cancelBtn{
    display: block;
    position: relative;
    width: 150px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
    margin: 30px 0;
    text-align: center;
    text-decoration: none;
}
.cancelBtn{
    margin: 10px 0;
}
.backBtn:hover{
    opacity: 75%;
}

.backBtn a{
    position: relative;
    width: 150px;
    display: block;
    height: 30px;
    color: black;
    background-color: white;
    text-decoration: none;
    line-height: 2.1em;
    font-size: .9em;

}

.addTruckBtn{
    display: block;
    position: relative;
    width: 100px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
    margin: 30px 0;
    text-align: center;
    text-decoration: none;
}

.addTruckBtn:hover{
    opacity: 60%;
}

.addTruckBtn a{
    position: relative;
    width: 100px;
    display: block;
    height: 30px;
    color: black

}