.formContainer{
    display: block;
    position: relative;
    width: 700px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3em;
}
.userForm{
    display: grid;
    position: relative;
    grid-template-columns: 100px 500px;
}
.editSaveBtn{
    margin-top: 15px;
    display: inline-block;
    position: relative;
    width: 100px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
    /* position: absolute;
    width: 100px;
    height: 30px;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%); */
}
.header, .preferencesHeader{
    display: block;
    position: relative;
    width: 500px;
    height: 50px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.prefFormClass{
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.innerFormClass{
    position: relative;
    width: 800px;
    height: 200px;
    display: grid;
    grid-template-columns: 266px 266px 266px;
    grid-template-rows: auto auto;
    left: 50%;
    transform: translate(-50%);

}
.distRangeClass, .foodTypeDiv{
    text-align: center;
}
.formSaveBtn{
    display: block;
    position: relative;
    width: 100px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);

}

.backBtn, .cancelBtn{
    display: block;
    position: relative;
    width: 100px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
}
.backBtn a{
    position: relative;
    width: 100px;
    display: block;
    height: 30px;
    color: black

}
