.header{
    text-align: center;
}
span{
    color: green;
}
.userInfo, .truckInfo{
    width: 800px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns:  200px 200px 240px;
    text-align: center;
    border-bottom-style: solid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
<<<<<<< HEAD
.userRevRat, .truckRevRat, .truckSchedule, .truckRoute, .truckMenu{
=======
.userRevRat, .truckRevRat, .truckSchedule, .truckRoute{
>>>>>>> parent of 18eefb6d... Creating new Frontend folder
    margin-top: 2em;
    position:relative;
    background-color: gray;
    width: 800px;
    height: 200px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.truckSchedule, .truckRoute{
    height: 80px;
}
.truckDesc{
    text-align: center;
}
<<<<<<< HEAD
.listTrucks{
    text-align: center;
}
=======
>>>>>>> parent of 18eefb6d... Creating new Frontend folder
.owner{
    text-align: center;
}
.backBtn{
    position: relative;
    margin-top: 3em;
<<<<<<< HEAD
    margin-bottom: 3em;
=======
>>>>>>> parent of 18eefb6d... Creating new Frontend folder
    width: 90px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
<<<<<<< HEAD
}
.truckRecsContainer{
    position: relative;
    display: block;
    width: 720px;
    height: 300px;
    background-color: rgb(163, 163, 163);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    border-style: solid;
    border-color:#4CAF50;
    border-width: .5em;
    border-radius: .5em;
    overflow-y: scroll;
}
.truckRecTitle{
    text-align: center;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #4CAF50;
    height: 3em;
}
.recItem{
    height: 50px;
    border-bottom-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: 218px 175px 200px 100px;
}
.textBar{
    border-bottom-style: solid;
    border-bottom-color: #4CAF50;
    display:grid;
    grid-template-columns: auto auto auto 100px;

}
.truckName, .truckPrice, .truckFoodType, .truckBtn{
    display: inline-block;
    position: relative;
    height: 25px;
    top:50%;
    transform: translateY(-50%);
}
.truckBtn{
    height: 30px;
    width: 100px;
=======
>>>>>>> parent of 18eefb6d... Creating new Frontend folder
}