* {
    font-family: 'Noto Sans Mono', monospace;
}
.navbar{
    background-color: rgb(85, 85, 85);
    height: 3em;
    
}
.userHeader{
    position: absolute;
    display: inline;
    margin: 0;
    left: 1em;
    top: .5em;
    border-style: solid;
    padding-left: .5em;
    padding-right: .5em;
    width: auto;
    height: 1.8em;
}
.userHeaderText{
    display: inline;
    margin: 0;
}
.logout{
    position: absolute;
    display: inline;
    right: 3em;
    top: 1em;
    text-decoration: none;
    color: #4CAF50;
}
.logout:hover{color: #ffffff;}

.dropbtn {
    position: relative;
    background-color: #4CAF50;
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: inherit;
    min-width: 90px;
  }
  
  .dropdownDiv {
    position: relative;
    display: inline-block;
    height: inherit;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownContent a:hover {background-color: #92c4eb}
  
  .dropdownDiv:hover .dropdownContent {display: block;}
  
  .dropdownDiv:hover .dropbtn {background-color: #3e8e41;}
/* Style the arrow inside the select element: */
