* {
font-family: 'Noto Sans Mono', monospace;
}
/*

rgb(237, 199, 183) peach
rgb(238, 226, 220) tan
rgb(186, 178, 181) gray
rgb(18, 60, 105) blue
rgb(172, 59, 97) light red
*/
body{
	background-color: rgb(238, 226, 220);
}
.navbar{
	background-color: rgb(18, 60, 105);
	height: 3em;
}
.userHeader{
	position: absolute;
	display: inline;
	margin: 0;
	left: 1em;
	top: .5em;
	border-style: solid;
	padding-left: .5em;
	padding-right: .5em;
	width: auto;
	height: 1.8em;
}
.userHeaderText{
	display: inline;
	margin: 0;
}
.logout{
	position: absolute;
	display: inline;
	right: 3em;
	top: 1em;
	text-decoration: none;
	color: rgb(241, 241, 241);
}
.logout:hover{
	color: rgb(237, 199, 183);
}
.dropbtn {
	position: relative;
	background-color: rgb(241, 241, 241);
	color: black;
	/* padding: 16px;
	*/
	font-size: 16px;
	border: none;
	cursor: pointer;
	height: 100%;
	min-width: 90px;
	padding: 0;
}
.dropdownDiv {
	position: relative;
	display: inline-block;
	height: inherit;
}
.dropdownContent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 220px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-size: 1em;
}
.dropdownContent a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdownContent a:hover {
	background-color: rgb(237, 199, 183)
}
.dropdownDiv:hover .dropdownContent {
	display: block;
}
.dropdownDiv:hover .dropbtn {
	background-color: rgb(237, 199, 183);
}
.searchForm{
	margin-top: 2rem;
}
.searchSubDiv{
	position: relative;
	width: 620px;
	left: 50%;
	transform: translateX(-50%);
}
.searchField{
	position: relative;
	width: 380px;
	height: 23px;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: .5em;
	border-style: solid;
	border-color: rgb(18, 60, 105);
	border-radius: 1em;
	border-width: .6em;
}
.searchBtn{
	position: relative;
	border-style: solid;
	border-radius: .5em;
	border-color: rgb(18, 60, 105);
    background-color: rgb(241, 241, 241);
	width: 100px;
	height: 30px;
	float: right;
	margin-top: 5px;
}
.searchBtn:hover{
	background-color: rgb(237, 199, 183);
}
.searchOptions{
	position:relative;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	border-style: solid;
	border-color: rgb(18, 60, 105);
	border-radius: 1em;
	border-width: .6em;
	width: 400px;
}
.truckRecsContainer{
	position: relative;
	display: block;
	width: 85%;
	min-width: 720px;
	height: 300px;
	background-color: rgb(238, 226, 220);
	left: 50%;
	transform: translateX(-50%);
	margin-top: 25px;
	border-style: solid;
	border-color:rgb(18, 60, 105);
	border-width: .5em;
	/* border-radius: 1.8rem;
	*/
	overflow-y: scroll;
}
.truckRecTitle{
	text-align: center;
	border-bottom-style: solid;
	border-color: rgb(237, 199, 183);
	height: 2.2em;
}
.truckRecTitle p{
	margin: .4em 0;
}
.textBar, .recItem{
	grid-template-columns: minmax(298px, auto) minmax(130px, auto) minmax(160px, auto) minmax(150px, auto);
}
.textBar{
	border-bottom-style: solid;
	border-bottom-color: rgb(237, 199, 183);
	display:grid;
	font-weight: bold;
	padding-left: .5rem;
}
.textBarText{
	/* display: inline-block;
	*/
}
.recItem{
	height: 50px;
	border-bottom-style: solid;
	border-color: rgb(237, 199, 183);
	display: grid;
	padding-left: .5rem;
}
.recItem button{
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}
.truckName, .truckPrice, .truckFoodType, .truckBtn{
	display: inline-block;
	position: relative;
	height: 25px;
	top:50%;
	transform: translateY(-50%);
}

.truckBtn{
	height: 30px;
	width: 100px;
}

.subscribedTrucksDiv{
	overflow-y: auto;
	width: 85%;
	height: 200px;
	position:relative;
	left: 50%;
	transform: translate(-50%);
	border-style: solid;
	border-color:rgb(18, 60, 105);
	border-width: .5em;
	margin-top: 2rem;
}
.subscribedTrucksDiv p{
	text-align: center;
}

#map {
	height: 100%;
}
.map{
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: rgb(238, 226, 220);
	width: 85%;
	height: 400px;
	position:relative;

	left: 50%;
	transform: translate(-50%);
	text-align: center;
	/* bottom: 20px;
	*/
	border-style: solid;
	border-color:rgb(18, 60, 105);
	border-width: .5em;
	/* border-radius: 2rem;
	*/
}
.mapInputBar{
	width: 350px;
}
.dynamic{
	position: relative;
	width: 205px;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 3em;
	margin-bottom: 3em;
}
.s{
	width: 100px;
}
.backBtn{
	display: block;
	position: relative;
	width: 100px;
	height: 30px;
	left: 50%;
	transform: translate(-50%);
	margin-top: 2em;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	padding-top: 4px;
	border-color:rgb(18, 60, 105) ;
	background-color: rgb(226, 226, 226);
	border-radius: .5em;
}
.backBtn:hover{
	opacity: 50%;
}
.backBtn a{
	position: relative;
	width: 100px;
	display: block;
	height: 30px;
	color: black
}

.addTruckBtn{
	display: block;
	position: relative;
	width: 100px;
	height: 30px;
	left: 50%;
	transform: translate(-50%);
	margin-top: 2em;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	padding-top: 4px;
	border-color:rgb(18, 60, 105) ;
	background-color: rgb(226, 226, 226);
	border-radius: .5em;
}
.addTruckBtn:hover{
	opacity: 50%;
}
.addTruckBtn a{
	position: relative;
	text-decoration: none;
	width: 100px;
	display: block;
	height: 30px;
	color: black
}